{% extends 'appbuilder/baselayout.html' %}

<!-- Papaya imports. Files and build #'s copied from /Papaya/releases/current/standard/ -->
{% block head_css %}
    {{ super() }}
    <link href="{{url_for('static', filename='css/papaya.css')}}" rel="stylesheet"/>
{% endblock %}

{% block head_js %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/papaya.js')}}"></script>
<!-- Papaya viewer setup. Three viewers, one each for T1, T2, and FLAIR -->
    <script type="text/javascript">
        papaya.Container.syncViewers = true;

        var params1 = [];
        //params1['orthogonal'] = false;
        //params1['orthogonalTall'] = false;
        //params1['radiological'] = true;
        params1['smoothDisplay'] = false;
        params1['showControlBar'] = true;
        params1['expandable'] = true; 
        params1["images"] = [
        '{{url_for('static', filename='img_data/MNI152_T1_2mm_brain.nii.gz')}}',
        '{{url_for('static', filename='img_data/lesion_mask_mni_sum.nii.gz')}}'];
        params1['t1mprage_RPI.nii.gz']  = {minPercent: 0.0,
                                          maxPercent: 0.5,
                                          lut: "Grayscale",
                                          interpolation: false};
        params1['157_manual_mask_RPI.nii.gz'] = {minPercent: 0.0,
                                                 maxPercent: 1.0,
                                                 lut: "Overlay (Positives)",
                                                 interpolation: false,
                                                 alpha: 0.3}; 
    </script>
{% endblock %}

{% block content %}
    <div style="width:900px; height:600px; margin: 0 auto;">
    <div class="papaya" data-params="params1"></div>
    </div>    
    <!--                          
    <div style="width:500px; height:600px; float: left">
    <div class="papaya" data-params="params2"></div>
    </div> 
                                                                    
    <div style="width:500px; height:600px; float: left">
    <div class="papaya" data-params="params3"></div>
    </div>
    -->
{% endblock %}

